body {
    background-image: url("/static/Images/background.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 15px;
}

h1 {
    text-align: center;
    margin-top: 0;
}

h2 {
    text-align: left;
}

/* Styles for the navigation bar */
nav {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
}

/* Styles for the navigation links */
nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Styles for the "Logout" link */
nav .logout {
    color: red;
    margin-left: 20px;
    margin-right: 0;
}

/* Hover effect for the navigation links */
nav a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.graph img {
    max-width: 100%;
}

.table {
    padding: 10px;
    font-size: 16px; /* Adjust the font size as desired */
    overflow: auto;
}


table {
    width: 80%; /* Adjust the width as desired */
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


#user-form {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Form fields */
#user-form input[type="text"],
#user-form input[type="password"],
#user-form input[type="number"],
#user-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

#user-form select {
    cursor: pointer;
}

/* Submit button */
#user-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}


#user-form input[type="submit"]:hover {
    background-color: #45a049;
}


.user-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px); /* Apply a blur filter to the background */
    z-index: 9999;
}

.user-form .modal-content {
    filter: none;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    max-width: 300px; /* Adjust the width as desired */
    width: 90%; /* Adjust the maximum width as desired */
    margin: 40px auto 0; /* Adjust the top margin as desired */
    align-items: center;
}

.user-form .close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: fixed;
    top: 50px;
    margin-left: 300px;
}


.user-form .close-button:hover {
    color: #000;
}

.green-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.flash-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    z-index: 999;
}

.flash-message.show {
    display: block;
    animation: fadeOut 5s forwards; /* The message will disappear after 3 seconds */
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}



