html {
    background-image: url("/static/Images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 15px;
    height: 100%; /* Set height to 100% for scrolling background */
}

body {
    height: 100%; /* Set height to 100% for scrolling background */
    margin: 0;
    font-family: Arial, sans-serif;
}
/* Styles for the navigation bar */
nav {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 30px;
    font-size: 20px;
}

/* Styles for the navigation links */
nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Styles for the "Logout" link */
nav .logout {
    color: red;
    margin-left: 20px;
    margin-right: 0;
}

/* Hover effect for the navigation links */
nav a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px; /* Add some padding to center the content */
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background */
    border-radius: 20px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
    position: relative; /* Ensure the container stays on top of the background */
}


h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}
/* New styles for Assigned Doctor section */
.assigned-doctor {
    display: flex; /* Use flexbox */
    align-items: center; /* Center the content vertically */
    margin-top: 20px; /* Add margin at the top */
}

.assigned-doctor h2 {
    margin: 0; /* Remove margin from the h2 element */
    margin-right: 10px; /* Add a small margin to separate the label from the doctor's name */
    font-size: 20px; /* Set the font size for the "Assigned Doctor" label */
}

.assigned-doctor p {
    margin: 0; /* Remove margin from the paragraph element (doctor's name) */
    font-size: 20px; /* Set the font size for the doctor's name */
}

table {
    width: 95%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

hr {
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
