<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel </title>
    <link rel="icon" type="image/x-icon" href="/static/Images/background.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/RS_panel.css') }}">
</head>
<body>
<!-- navigate through pages -->
<nav>
    {% if 'role' in session and session['role'] == 'admin' %}
        <a href="/admin">Admin Panel</a>
        <a href="/symptoms">Symptoms</a>
    {% endif %}
    {% if 'role' in session and session['role'] == 'regular user' %}
        <a href="/symptoms">Symptoms</a>

    {% endif %}
    {% if 'role' in session and session['role'] == 'research student' %}
        <a href="/RS_panel">Research Student Panel</a>
        <a href="/symptoms">Symptoms</a>
    {% endif %}
    {% if 'username' in session %}
        <a href="/" class="logout">Logout</a>
    {% endif %}
</nav>

    <h1>Reaserch Student</h1>

    <!-- Example plot display -->

    <div>

    </div>
</body>
</html>